.mainmain-body{
    margin-left: 200px;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main-1section{
    margin-left: 100px;
    margin-bottom: 50px;
}
.tab{
    width:100%;
}